<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <li class="nav-item active">
                <a class="navbar-brand" href="/loghome">Log Home</a>
            </li>
        </nav>
        <table>
            <tbody>
                {% for item in leercsv %}
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                        <td>{{item[4]}}</td>
                        <td>{{item[5]}}</td>
                        <td>{{item[6]}}</td>
                        <td>{{item[7]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>