<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hola como esta voce</title>
    <!-- llamo al css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <li class="nav-item active">
            <a class="navbar-brand" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="navbar-brand" href="/index">Sign in</a>
        </li>
        <li class="nav-item active">
            <a class="navbar-brand" href="/registrar">Sign up</a>
        </li>
    </nav>
    <h1>lola</h1>
    <h1>Hola</h1>
</body>
</html>