<!DOCTYPE html>
<html lang="en">
<head>
    <tittle>Bienvenido</tittle>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <li class="nav-item active">
            <a class="navbar-brand" href="/outindex">Log out</a>
        </li>
        <li class="nav-item active">
            <a class="navbar-brand" href="/userstable">Lista de Clientes</a>
        </li>
        <li class="nav-item active">
            <a class="navbar-brand" href="/finduser">Buscar Cliente</a>
        </li>
    </nav>
    <h1>Hola</h1>
</body>
</html>